.layout {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  /* width: 100%; */
  /* position: relative; */
  position: relative;
}

.Sidebar {
  grid-area: sidebar;
  background-color: rgb(53, 243, 5);
}

.header {
  grid-area: header;
  background-color: rgb(36, 5, 237);
}

.main {
  grid-area: main;
  background-color: rgb(226, 16, 16);
}

@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      "header"
      "main";
    height: 100vh;
  }

  .Sidebar.active {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0;
    width: 140px;
    height: 100vh;
    background-color: rgb(53, 243, 5);
  }
  .Sidebar.open {
    display: none;
  }
}

/* @media (max-width: 568px) {
  .bar {
    width: 100%;
  }
} */
